@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 95.9%;
    --foreground: 20 14.3% 4.1%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 95.9%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.8rem;

    --chart-1: 12 76.5% 61.4%;
    --chart-2: 172.8 52.5% 45.1%;
    --chart-3: 49.3 95.5% 57.8%;
    --chart-4: 280.7 73.8% 63.7%;
    --chart-5: 218.4 82.9% 63.9%;

    /* Sidebar variables */
    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-border: 20 5.9% 15%;
    --sidebar-ring: 142.1 76.2% 36.3%;
    --sidebar-accent: 20 5.9% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
  }

  .dark {
    --background: 24 9.8% 10%;
    --foreground: 0 0% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 24 9.8% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 142.1 76.2% 36.3%;

    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 142.1 76.2% 36.3%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
